.content {
    font-weight: bold;
    width: calc(100% - 40px);
    min-height: 90vh;
    padding: 20px;
    /* background-color: #61dafb; */
}
.list {
}
.list-item {
    display: flex;
    justify-content: between;
}
.list-item div, .list-item a {
    padding: 10px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    color: #333;
    font-weight: 400;
}
.liit-id {
    width: 10%;
}
.liit-title {
    width: 20%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.liit-content {
    width: 40%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.liit-publish-status {
    width: 10%;
}
.liit-date {
    width: 20%;
}